body {
    margin: 15px 15px 35px 15px;
}

a, a:visited {
    color: #1a90ff;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: black;
}

a.delete-link, a:visited.delete-link {
    padding: 5px;
    border: 1px solid black;
    background: #f44336;
    color: black;
}

a:hover.delete-link {
    color: #f44336;
    background: black;
}

ul {
    border-left: 5px solid darkblue;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

ul li {
    background-color: #cce6ff;
    margin: 5px;
    padding: 5px;
    width: 40%;
}

ul li a {
    border: none;
}

input[type=text] {
    width: 30%;
    font-size: 14px;
}

p.correct {
    color: #19b462;
    font-size: 18px;
}

label {
    padding-right: 10px;
}

label[for="id_answer_text"] {
    padding-right: 19px;
}

#results {
    font-size: 18px;
    border: 2px solid darkblue;
    background-color: #cce6ff;
    width: 40%;
    padding: 10px;
}