{% load static %}
<html>
<head>
    <title>{{ study_guide.name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "js/study_guide.js" %}" type="text/javascript"></script>

    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Muli", Arial, Helvetica, sans-serif}
    </style>
</head>
<body>
    <h1>{{ study_guide.name }}</h1>
    <p><a href='{% url "user" user.id %}'>Go back</a></p>

    <button id="begin" type="button" onclick='begin("{{ question_list|length }}")'>Begin</button>

    {% for question in question_list %}
        <div class="question" id="question-{{ forloop.counter }}" style="display: none">
            <p>{{ forloop.counter }}. {{ question.question.question_text }}</p>
            <form class="answers" id="{{ forloop.counter }}-answers">
                {% for answer in question.answers %}
                    <input onkeypress="handleEnterOnAnswer(event, '{{ forloop.parentloop.counter }}', '{{ question.question.id }}')" type="text" autocomplete="off" class="question-{{ forloop.parentloop.counter }}">
                {% endfor %}
                <button type="button" onclick="handleAnswers('{{ forloop.counter }}', '{{ question.question.id }}')" class="question-{{ forloop.counter }}">Submit</button>
            </form>
        </div>
        <div id="question-{{ forloop.counter }}-results"></div>
    {% endfor %}
    <div id="results" style="display: none">
        Finished!
    </div>
</body>
</html>
