{% load static %}

<html>
<head>
    <title>{{ user.name }}</title>
    <script src="{% static "js/common.js" %}" type="text/javascript"></script>
</head>
<body>
    <h1>{{ user.name }}</h1>
    <p><a href='../../'>Home</a></p>
    <p><a href='#' onclick="toggleDisplay('study')">Study a study guide</a></p>
    <div id="study" style="display: none">
        <ul>
            {% for study_guide in study_guide_list %}
            <li><a href='../../studyguide/{{ study_guide.id }}'>{{ study_guide.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <p><a href='#' onclick="toggleDisplay('create')">Create a new study guide</a></p>
    <div id="create" style="display: none">
        <form action='/user/{{ user.id }}/' method='post'>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    <p><a href='#' onclick="toggleDisplay('edit')">Edit a study guide</a></p>
    <div id="edit" style="display: none">
        <ul>
            {% for study_guide in study_guide_list %}
            <li><a href='/editstudyguide/{{ study_guide.id }}'>{{ study_guide.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
